In [1]:
# Import dependenices: BeautifulSoup, Pandas and Splinter 

from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd 
import time
import requests

In [2]:
# Set executable path and initialize Chrome Browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\bridg\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [3]:
# Vist the NASA Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(2)

In [4]:
# HTML object
html = browser.html

# Pasrse HTML with BeautifulSoup 
news_soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain the news title 
news = news_soup.find_all('div', class_="list_text")

# Retrieve the latest news
latest_news = news[0]

# Use Beautiful Soup's find() method to navigate and retrieve attributes
news_title = latest_news.find('div', class_="content_title").text
news_p = latest_news.find('div', class_="article_teaser_body").text

# Print information
print('-----------')
print(news_title)
print(news_p)

-----------
NASA's Next Mars Rover Is Ready for the Most Precise Landing Yet
What to expect when the Mars 2020 Perseverance rover arrives at the Red Planet on Feb. 18, 2021.

In [5]:
# Visit the JPL Featured Space Image
featured_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(featured_url)

In [6]:
# HTML object
image_html = browser.html

# Pasrse HTML with BeautifulSoup 
image_soup = BeautifulSoup(image_html, 'html.parser')

# Retrieve the featured image url
image_url = (image_soup.find('img', class_='headerimage fade-in').get('src'))

# Create the website URL link to take you directly to the featured image
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'+ image_url

# Display the full image url
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

In [7]:
# Visit the Mars Facts webpage
facts_url = 'https://space-facts.com/mars/'

In [8]:
# Scrape the table containing facts about the planet including Diameter, Mass, etc.
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
# Determine data type of table
type(tables)

list

In [10]:
# Slice the original dataframe using normal indexing 
facts_df = tables[0]
facts_df.columns= ['Description', 'Mass']
facts_df.head()

            Description                           Mass
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [11]:
# Set the index to the `Fact` column
facts_df.set_index('Description', inplace=True)
facts_df

                                               Mass
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [12]:
# Convert the facts dataframe to HTML
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mass</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
# Strip unwanted newlines to clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mass</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# Set executable path and initialize Chrome Browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the USGS Astrogeology site
astro_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(astro_url)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\bridg\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [15]:
# HTML object
html = browser.html

# Pasrse HTML with BeautifulSoup 
astro_soup = BeautifulSoup(html, 'html.parser')

In [21]:
# Create list for the hemisphere images urls 
hemisphere_image_urls = []
count = 0
mars_hemisphere_url = 'https://astrogeology.usgs.gov/'
hemisphere_location = astro_soup.find_all('div', class_='item')

# Obtain high resolution images for each of Mars' hemispheres
for results in hemisphere_location:
    mars = results.find('h3').text
    browser.links.find_by_partial_text(mars).click()
    time.sleep(1)
    
    html = browser.html
    astro_soup = BeautifulSoup(html, 'html.parser')
    partial_image = astro_soup.find('img', class_='wide-image')['src']
    
    img_url = mars_hemisphere_url + partial_image
    
    # Create dictionary lists
    hemisphere_image_urls.append({
        'title': mars,
        'img_url': img_url})
    
    count = count + 1
    
    if len(hemisphere_location)>count:
        browser.back()
        time.sleep(1)
        
    else:
        break 
        
    
hemisphere_image_urls

[]

In [17]:
browser.quit()